<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head' %}
  </head>
  <body id='{{ page.title | downcase | dasherize }}'>
    <header>
      <section class='content'>
        <h1><a href='/'><abbr title='Bruno Chagas'>BC</abbr></a></h1>
        <nav role='navigation'>
          {% nav 'parent', active_class: 'current', depth: 1, no_wrapper: false, exlude: false, icon: false %}
        </nav>
      </section>
    </header>

    <section role='contentinfo'>
      {% block 'main' %}
        <h1>Hello. I'm <strong>Bruno Chagas, Front-end Developer</strong> based in Brazil.</h1>
        <p>You can find me in:</p>

        <nav>
          <ul>
            {% for network in contents.networks %}
              <li><a rel='nofollow' href='{{ network._url }}' title='{{ network.name }}'>{{ network.name | downcase }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endblock %}
    </section>

    <footer>
      <section class='content'>
        <figure>
          {% editable_file "avatar", hint: "Upload a avatar image (perfect size: 48x48)", priority: 1 %}
            {{ 'me.png' | theme_image_tag: 'alt: Bruno Chagas Avatar' }}
          {% endeditable_file %}
        </figure>

        <a href='mailto:bchagas@me.com' rel='nofollow'>bchagas@me.com</a>
      </section>
    </footer>
  </body>
</html>
